<section class="container my-4">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Control System</h2>
      <p>
        <i>
          This is a basic control system resembling robotic control. The
          controller is shown on the left, and the field represents the robot's
          operational area. The robot starts in the center by default. Using the
          controller, the robot can be moved. Gems are scattered around, each
          with a hidden random value. The robot aims to collect these gems by
          moving over them, either by directly grabbing them or as it passes by.
        </i>
      </p>
    </div>
  </div>
</section>
<app-dashboard></app-dashboard>
