<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card bg-light mb-3">
        <div class="card-header p-3">
          <div class="row">
            <div class="col-4 text-right pt-3">
              <div *ngIf="state === 'MAIN'">
                <div
                  app-toggle-button
                  [inputControl]="palletPlanningControl"
                  label="Pallet Planning"
                  inputId="pallet-planning"
                ></div>
              </div>
              <div *ngIf="state === 'FINISH'">
                <h4>Output</h4>
              </div>
            </div>
            <div class="col-8">
              <div *ngIf="state === 'INITIAL'" class="text-center">
                Welcome to Palletizing Application
              </div>
              <div *ngIf="state === 'MAIN' || state === 'FINISH'">
                <h5 class="m-0">{{ palletType }}</h5>
                <p class="mb-0">
                  {{ getPalletDimensionMapping(palletType).length }} X
                  {{ getPalletDimensionMapping(palletType).width }} (L X W)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0">
          <div class="row">
            <div class="col-12 border-right col-md-4">
              <div class="text-center" *ngIf="state === 'INITIAL'">
                <img
                  src="../assets/images/pallet.png"
                  alt=""
                  class="pallet-image"
                />
              </div>
              <div
                class="setting-panel"
                *ngIf="state === 'MAIN'"
                [ngStyle]="{ 'max-height': settingsPanelheight + 'px' }"
              >
                <div
                  [ngClass]="{ overlay: !palletPlanningControl.value }"
                ></div>
                <div class="row m-auto">
                  <div class="col-12 mt-2">
                    <h4>Select Pallet</h4>
                    <hr class="mt-0" />
                  </div>
                  <div
                    class="col-6"
                    *ngFor="let pallet of palletMappings | keyvalue"
                  >
                    <app-pallet-type
                      [sellectedPallet]="palletType"
                      [palletType]="pallet.key"
                      (palletTypeChangeEvent)="selectPalletType($event)"
                    ></app-pallet-type>
                  </div>
                </div>

                <div
                  class="row m-auto mt-5"
                  app-object-settings
                  [objectLengthControl]="objectLengthControl"
                  [objectWidthControl]="objectWidthControl"
                  [objectMaxHeight]="objectMaxHeight"
                  [objectMaxWidth]="objectMaxWidth"
                  [numberOfObjects]="numberOfObjectsControl"
                  [palletWidthMultiplicationFactor]="
                    palletWidthMultiplicationFactor
                  "
                  [palletHeightMultiplicationFactor]="
                    palletHeightMultiplicationFactor
                  "
                ></div>

                <div class="row m-auto">
                  <div class="col-12 text-right">
                    <button
                      type="button"
                      class="btn btn-success my-4"
                      (click)="savePalletSettings()"
                    >
                      Save Settings
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="setting-panel"
                *ngIf="state === 'FINISH'"
                [ngStyle]="{ 'max-height': settingsPanelheight + 'px' }"
              >
                <div
                  app-object-item-card
                  class="card object-detail-card my-1"
                  *ngFor="let object of payload?.objects; let i = index"
                  (click)="selectObjectForIndication(object)"
                  [ngClass]="{
                    selected: selectedObjectForIndication?.id === object.id,
                  }"
                  [object]="object"
                  [index]="i"
                ></div>
              </div>
            </div>
            <div class="col-8">
              <div class="text-center" *ngIf="state === 'INITIAL'">
                <img
                  src="../assets/images/tray.png"
                  alt=""
                  class="tray-image"
                />
                <h4>Click next to start palletizing</h4>
              </div>
              <div *ngIf="state === 'MAIN'">
                <div [ngClass]="{ overlay: palletPlanningControl.value }"></div>
                <div
                  class="row"
                  app-add-object-button-group
                  [objectOrientation]="objectOrientation"
                  (addObjectEvent)="addObject()"
                  (changeObjectOrientationEvent)="objectOrientation = $event"
                ></div>

                <div class="row">
                  <div class="col-12 text-center mb-2">
                    <div
                      class="pallet-area"
                      #palletArea
                      [ngStyle]="{ height: palletContainerHeight + 'px' }"
                      style="width: 100%"
                    >
                      <div
                        [state]="'MAIN'"
                        app-pallet-area
                        id="palletBox"
                        class="main-pallet-box text-left m-auto"
                        [style.width.px]="palletWidth"
                        [style.height.px]="palletHeight"
                        [objectsInPallet]="objectsInPallet"
                        [objectWidth]="objectWidthControl"
                        [objectLength]="objectLengthControl"
                        [selectedObject]="selectedObject"
                        (selectObjectEvent)="
                          selectObjectForModification($event)
                        "
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 text-right">
                    <button
                      type="button"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Remove selection"
                      class="btn btn-outline-warning option-button ml-2"
                      (click)="unSelectObject()"
                      *ngIf="selectedObject"
                    >
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button
                      type="button"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete selected"
                      class="btn btn-outline-danger option-button ml-2"
                      (click)="removeObject()"
                      *ngIf="selectedObject"
                    >
                      <i class="fa-regular fa-trash-can"></i>
                    </button>
                    <button
                      type="button"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Clone selected"
                      class="btn btn-outline-success option-button ml-2"
                      (click)="copyObject()"
                      *ngIf="selectedObject"
                    >
                      <i class="fa-regular fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="text-center" *ngIf="state === 'FINISH'">
                <div class="pallet-area my-3">
                  <div
                    app-pallet-area
                    id="palletBox"
                    class="main-pallet-box text-left m-auto"
                    [style.width.px]="palletWidth"
                    [style.height.px]="palletHeight"
                    [state]="state"
                    [objectsInPallet]="objectsInPallet"
                    [objectWidth]="objectWidthControl"
                    [objectLength]="objectLengthControl"
                    [selectedObject]="selectedObjectForIndication"
                    (selectObjectEvent)="selectObjectForIndication($event)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent border-success">
          <div class="row">
            <div class="col-12 text-right">
              <span
                *ngIf="state === 'MAIN' && remainingObjectsCount >= 0"
                class="mr-3"
              >
                {{ numberOfObjectsControl.value! - objectsInPallet.length! }}
                More to add</span
              >
              <span
                *ngIf="state === 'MAIN' && remainingObjectsCount < 0"
                class="mr-3"
              >
                {{
                  (numberOfObjectsControl.value! - objectsInPallet.length!) * -1
                }}
                More to remove</span
              >
              <button
                type="button"
                class="btn btn-success"
                (click)="gotoNextPage()"
                [disabled]="
                  state === 'MAIN' &&
                  numberOfObjectsControl.value !== objectsInPallet.length
                "
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
