/* You can add global styles to this file, and also import other style files */
/* The switch - the box around the slider */
body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
}

.border-thin {
  border: 1px solid black;
}

.border-bottom-thin {
  border-bottom: 1px solid black;
}
.pallet-image {
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tray-image {
  height: 350px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.head {
  height: 50px;
}
.pallet {
  height: 200px;
  border: 1px solid black;
  margin-top: 10px;
  text-align: center;
  padding-top: 50%;
}

.content {
  max-height: 502px;
  overflow-y: scroll;
}

.selected {
  background-color: #000000;
  color: #ffffff;
}
