// /* You can add global styles to this file, and also import other style files */
// /* The switch - the box around the slider */
body {
  background-color: #87decd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #001050;
}

.border-thin {
  border: 1px solid black;
}

.border-bottom-thin {
  border-bottom: 1px solid black;
}
.pallet-image {
  height: 600px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.tray-image {
  height: 550px;
  padding-top: 170px;
  padding-bottom: 120px;
}

.head {
  height: 50px;
}
.pallet {
  height: 200px;
  border: 1px solid black;
  margin-top: 10px;
  text-align: center;
  padding-top: 50%;
}
